body {
  --bg: #ffffff;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  /* justify-content: center; */
  /* align-items: center; */

  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

input {
  font-size: 30px;
}

#tab-1 {
  /* height: min-content; */
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

#color-changing {
  margin: 5%;
  outline: 1px solid black;
  background-color: var(--bg);
}

#tab-2 {
  padding: 5%;
}

#canvas {
  outline: 1px solid black;
}
